<div *ngIf="!login_show" id="container">
    <div id="header">
        <h1>Login Page</h1>
    </div>
    <div id="context">
      <div id="form-container">
        <form>
              <div id="row">
                <label for="user">User Name</label><br>
                <input type="text" id="username" [(ngModel)]="username" name="username"/> 
              </div>
              <div id="row">
              <label for="password">Password</label><br>
                <input type="password" id="password" [(ngModel)]="password" name="password"/> 
             </div>
             <div id="row">
                <button id="submit" (click)="getData()">Submit</button>
             </div>
        </form>
    </div>
    </div>

    <div id="error" [innerHTML]="error"></div>
</div>

<router-outlet></router-outlet>
